<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/assets/img/ico/logo.ico" sizes="16x16 32x32" />
  <meta name="title" content="">
  <meta name="keywords" content="">
  <meta name="author" content="FiberX Innovations Ltd.">
  <meta name=”robots” content="noindex, nofollow">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <link rel="canonical" href="https://fiyalo.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/assets/css/output.css" >
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap">
  <title>WELCOME</title>
</head>

<body id="app">
    <h1>Hello welcome </h1>
</body>

</html>