<template>
    <template v-if="true">
        <!-- Loader -->
        

        <!-- Header -->
       

        <!-- sidebar -->
        

        <!-- Main -->
        <main>
            <RouterView />
        </main>

        


</template>

<script>
import BaseAppController from "@/modules/base_app/controllers/base_app_controller";

export default BaseAppController
</script>
